@page "/ContactDetails"

<div class="text-center">
    <div class="display-6">
        Contact
    </div>
    <div class="lead border rounded my-5">
        <i class="fa fa-phone my-3 text-primary"></i>
        <p>
            +905321654987
        </p>
        <i class="fa fa-map-marker my-3 text-primary"></i>
        <p>
            Ankara, Türkiye
        </p>
        <i class="fa fa-envelope my-3 text-primary"></i>
        <p>
            alperensarierikli@hotmail.com
        </p>
    </div>
</div>