<div class="text-center lead display-1 text-danger my-5">
    ACCESS DENIED
    <i class="fa fa-exclamation-triangle"></i>
</div>
<div class="text-center">
    <div class="lead display-6">
    You have no permission to access this page. <br/> Please check the url or contact with administration.

    </div>
    <div class="btn-group my-5">
    <a class="btn btn-outline-primary" asp-contoller="Home" asp-action="Index">Home</a>
    <a class="btn btn-outline-primary" asp-page="/contact">Contact</a>
</div>
</div>

