@model IEnumerable<IdentityRole>

<div class="text-center">
	<div class="display-6">
		Roles
	</div>
</div>

<ul class="list-group">
    @foreach(var item in Model)
    {
        <li class="list-group-item">@item.Name</li>
    }
</ul>